//COLOR 
$primary_color: #ee3880;
$secondary_color: #fd95ab;
$secondary_light_color: #FFE4E1;
$font_nav_color: #545454;
$color_font: #000000;
$blue_color: #6BADCE;
$yellow_color: #FEFEFE;
$box_shadow: rgba(202, 114, 167, 0.587) 0px 2px 8px 3px;

//FONT 
$primary_font_family: "Roboto Condensed", sans-serif;