

.actions {
    margin-bottom: 10px;
}

.create__title {
    text-align: center;
}

.btn__create__submit {
    width: 100%;
    color: $primary_color;
    border: solid 1px $primary_color;
}

.upload__btn {
    padding: 40px;
    border: dashed $primary_color 1px;
}